:root {
  --primary-color: #181818;
  --secondary-color: #212121;
  --text-color: #ffffff;
  --color1: rgb(64, 89, 96);
  --color2: rgb(60, 65, 73);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--secondary-color);
  color: var(--text-color);
  font-family: Roboto;
}
.form-control {
  width: 480px;
  margin-left: 8%;
  background-color: rgb(52, 51, 51);
  border-radius: 0.5px solid var(--text-color);
  border-radius: 10px;
  height: 42px;
  color: rgb(
    calc(var(--color1) - var(--color2))
  );
  font-size: 16px;
  font-weight: 400;  

}
.form-search{
  background-color: rgba(0, 0, 0, 0) 75%;
}

.global-container {
  display: flex;
  position: relative;
  margin:0;
  padding: 0;
}

/*-- Left sidebar CSS--*/

.left-sidebar {
  width: 18%;
  border-right: 0.5px solid #aaaaaa;
  background-color: var(--primary-color);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
}

.top-music {
  width: 80%;
}
.MenuIcon {
  margin: 0 20px;
}
.PlayCircleOutlineIcon {
  padding: 5px;
  font-size: 24px;
}
.HomeRoundedIcon {
  margin: 0 20px;
}
.ExploreOutlinedIcon {
  margin: 0 20px;
}
.LibraryMusicOutlinedIcon {
  margin: 0 20px;
}
.PlayCircleOutlineSharpIcon {
  margin: 0 20px;
}
.span-music {
  font-size: 24px;
  margin: 0 5px;
  color: var(--text-color);
}

.left-sidebar .list-group-item {
  background-color: var(--primary-color);
  border: none;
  text-align: left;
}
.left-sidebar .list-group-item:hover {
  background-color: #3d3d3d;
  border-radius: 5px;
  text-decoration: none;
}
.left-sidebar ul {
  margin-top: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid var(--secondary-color);
}
.left-sidebar .list-group-item span {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 700;
}
.newPlaylist {
  width: 80%;
  border-radius: 20px;
  background-color: #3d3d3d;
  margin: 30px 20px;
  text-align: center;
}
.likedMusic,
.Episodes-for-later {
  margin-left: 20px;
}
.likedMusic h5,
.Episodes-for-later h5 {
  font-size: 15px;
  font-weight: 600;
  color: white;
  margin: 0;
  padding: 0;
}
.likedMusic p,
.Episodes-for-later p {
  font-size: 12px;
  color: #aaaaaa;
  font-weight: 400;
}

/*--Left sidebar ends--*/

/*--Right sidebar begins--*/
.right-sidebar {
  width: 80%;
  background-color: linear-gradient(
    --primary-color,--secondary-color
  );
  margin-left: 18%;
  
}
#download {
  background-color: inherit;
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  margin:40px 0;
}

#download h1 {
  font-weight: 700;
  line-height: 2;
}

#download h2 {
  font-weight: 500;
  line-height: 3;
}

#download button {
  background-color: #FFFFFF1A;
  padding: 0 12px;
  font-family: inherit;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 35px;
  color: white;
  border: none;
  margin-left: 10px;
  height: 36px;
}

#download button:hover {
  transform: scale(1.02);
  background-color:#ffffff4c;
}

@media (width <= 650px) {
  #download button {
    width: 100%;
    margin-bottom: 10px;
  }
}
.music-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}
.musicCard {
  height: 200px;
  width: 200px;
  margin-top: 20px;
  padding: 5px;
  border-radius: 5px;
}
.artist {
  font-size: 14px;
  width: 45%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.artist-name {
  font-size: 14px;
  width: 40%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.music-title {
  font-size: 16px;
}
.nav-item {
  list-style: none;
  margin-left: 260px;
}
a {
  color: black;
}
.left-nav {
  margin-right: 25px;
}
.fa-circle-play {
  margin: 0 auto;
  display: block;
  font-size: 24px;
}

.icon-music {
  padding: 12px;
  font-weight: 700;
  font-family: Roboto, Noto Naskh Arabic UI, Arial, sans-serif;
}
.container {
  margin-top: 100px;
}
.btn-primary,
.btn-primary:hover {
  background-color: #d60017;
  border-color: #d60017;
}

.music-player {
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 5rem;
  background-color: #d60017;
  display: flex;
  color: white;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
}

/*-- Right sidebar ends--*/

/*-- Upgrade Page begins-- */

.upgrade-Navbar {
  width: 100%;
  height: 64px;
  background-color: var(--primary-color);
}
.upgrade-section1 {
  width: 100%;
  height: 630px;
  background-color: #3d3d3d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.yt-logo {
  font-size: 70px;
  font-family: Roboto, Noto Naskh Arabic UI, Arial, sans-serif;
  margin-bottom: 50px;
  font-weight: 700;
}
.upgrade-section1 .get-music {
  margin-bottom: 30px;
}
.upgrade-section1 .get-music p {
  font-size: 30px;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.upgrade-section1 .premium-btn {
  padding: 10px 15px;
  border-radius: 20px;
  background-color: rgb(97, 175, 231);
  border: none;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 400;
}
.upgrade-section1 .premium-plan p {
  font-size: 25px;
  margin: 0;
  padding: 0;
}
.upgrade-section1 p span {
  font-size: 15px;
  font-weight: bold;
}
.upgrade-section1 .learn-more {
  margin-top: 20px;
}
.upgrade-section1 span {
  color: rgb(97, 175, 231);
}

.upgrade-section2 {
  width: 100%;
  height: 262px;
  background-color: var(--primary-color);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10px;
  gap: 15px;
  text-align: center;
}

.upgrade-section2 .one {
  width: 100%;
  height: 100px;
}
.upgrade-section2 .two {
  width: 100%;
  height: 80px;
}
.upgrade-section2 .three {
  width: 100%;
  height: 72px;
}

.upgrade-section3 {
  width: 100%;
  height: 600px;
  position: relative;
}
.upgrade-section3 .text {
  position: absolute;
  top: 50%;
  left: 15%;
  color: #3d3d3d;
}
.upgrade-section3 img {
  width: 100%;
  height: 100%;
}

.upgrade-section6 {
  width: 100%;
  height: 262px;
  background-color: var(--primary-color);
}
.upgrade-section6 p {
  padding-top: 80px;
  padding-left: 300px;
  color: white;
  font-size: 18px;
  font-weight: 400;
}
.upgrade-section6 span {
  color: rgb(49, 49, 218);
}

.right-sidebar-plan {
  width: 80%;
  background-color: var(--primary-color);
}

/*-- Upgrade Page Ends-- */

/*--Premium Plan Page begins--*/

.yt-Membership {
  width: 700px;
  height: auto;
  margin-left:18%;
}
.yt-Membership p {
  color: #aaaaaa;
  font-size: 15px;
}
.yt-music-logo {
  height: 130px;
  display: flex;
  gap: 15px;
  flex-direction: column;
}
h3,
h5 {
  margin: 0;
  padding: 0;
}
.yt-name {
  height: 57px;
}
.prepaid-plan {
  height: 49px;
}
.monthly-plans {
  height: 222px;
}
.yearly,
.three-month,
.one-month {
  border: 0.5px solid #3d3d3d;
  height: 74px;
  background-color: var(--secondary-color);
  padding: 10px;
}
.subscription-plan {
  height: 89px;
  padding: 20px 0px 15px 0;
}
.free-monthly {
  height: 95px;
  border: 1px solid #3d3d3d;
  padding: 10px 0 15px 10px;
  display: flex;
  justify-content: space-between;
}
.free-monthly .free-monthly-right button {
  margin: 20px 10px;
  border-radius: 20px;
  background-color: var(--secondary-color);
  border: 0.5px solid #aaaaaa;
  color: rgb(97, 175, 231);
  padding: 5px 10px;
}
.policy p {
  margin-top: 15px;
  font-size: 12px;
  color: #aaaaaa;
  font-family: sans-serif;
  line-height: 1.2;
  padding-right: 15px;
  margin-bottom: 70px;
}
.policy span {
  color: rgb(97, 175, 231);
}

/*--Premium Plan Page Ends--*/

/*--Song Component Page begins --*/

.song-component-container {
  width: 80%;
  margin: 0 auto;
}
.song-component-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}

/*--Song Component Page Ends --*/

.songMusicCard {
  display: flex;
  height: 50px;
  width: 48%;
  margin-top: 20px;
  padding: 5px;
  border-radius: 5px;
}
.songMusicCrad .song-artist {
  font-size: 14px;
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.songMusicCrad .song-music-title {
  font-size: 16px;
}
.song-img,
.music-artist {
  margin: 0;
  padding: 5px;
}
.user-name {
  align-items: left;
  margin: 0;
  padding: 0;
}

/*--Album songs Page Begins--*/

.album-songs-container {
  width: 80%;
  margin: 0 auto;
}
.album-details {
  padding-top: 10%;
  display: flex;
}
.album-name {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-left: 50px;
}
.album-name p,
h {
  margin: 0;
  padding: 0;
}
.album-songs {
  display: flex;
  margin-top: 40px;
  gap: 10%;
  cursor: pointer;
  border-bottom:1px lightgray;
}
.album-songs img{
  margin-bottom:10px;
}
.song-name{
  width: 20%;
}
.album-btn {
  margin-top: 30px;
  border-radius: 60px;
}
.btn-play,
.btn-library {
  border-radius: 60px;
  padding: 5px 10px;
  border: none;
  background-color: white;
}
.btn-library {
  background: transparent;
  border: 1px solid white;
  color: white;
  font-weight: 700;
}
.album-songs-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.album-details {
  display: flex;
  margin-bottom: 20px;
}

.album-details img {
  width: 264px;
  height: 264px;
  margin-right: 20px;
}

.album-name {
  display: flex;
  flex-direction: column
}

/*--Album songs Page Ends--*/

/*media query for membership*/
@media (max-width: 768px) {
  .monthly-plans {
    flex-direction: column;
    align-items: center;
  }

  .monthly-plans > div {
    width: 100%;
    margin-bottom: 10px;
  }

  .free-monthly {
    flex-direction: column;
    align-items: center;
  }

  .free-monthly-left, .free-monthly-right {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
}



/* Media query for screens up to 480px (mobile devices) */
@media (max-width: 480px) {
  .yt-Membership {
    padding: 10px;
  }

  .yt-name h3 {
    font-size: 1.5em;
  }

  .yt-name p, .prepaid-plan p, .subscription-plan p, .policy p {
    font-size: 0.9em;
  }

  .free-monthly-left p {
    margin: 5px 0;
  }

  .free-monthly-right button {
    width: 100%;
  }
}

