/*--Premium Plan Page begins--*/

.yt-Membership {
  width: 700px;
  height: auto;
  margin-left:18%;
}
.yt-Membership p {
  color: #aaaaaa;
  font-size: 15px;
}
.yt-music-logo {
  height: 130px;
  display: flex;
  gap: 15px;
  flex-direction: column;
}
h3,
h5 {
  margin: 0;
  padding: 0;
}
.yt-name {
  height: 57px;
}
.prepaid-plan {
  height: 49px;
}
.monthly-plans {
  height: 222px;
}
.yearly,
.three-month,
.one-month {
  border: 0.5px solid #3d3d3d;
  height: 74px;
  background-color: var(--secondary-color);
  padding: 10px;
}
.subscription-plan {
  height: 89px;
  padding: 20px 0px 15px 0;
}
.free-monthly {
  height: 95px;
  border: 1px solid #3d3d3d;
  padding: 10px 0 15px 10px;
  display: flex;
  justify-content: space-between;
}
.free-monthly .free-monthly-right button {
  margin: 20px 10px;
  border-radius: 20px;
  background-color: var(--secondary-color);
  border: 0.5px solid #aaaaaa;
  color: rgb(97, 175, 231);
  padding: 5px 10px;
}
.policy p {
  margin-top: 15px;
  font-size: 12px;
  color: #aaaaaa;
  font-family: sans-serif;
  line-height: 1.2;
  padding-right: 15px;
  margin-bottom: 70px;
}
.policy span {
  color: rgb(97, 175, 231);
}

/*--Premium Plan Page Ends--*/

/*media query for membership*/
@media (max-width: 768px) {
  .monthly-plans {
    flex-direction: column;
    align-items: center;
  }

  .monthly-plans > div {
    width: 100%;
    margin-bottom: 10px;
  }

  .free-monthly {
    flex-direction: column;
    align-items: center;
  }

  .free-monthly-left, .free-monthly-right {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
}



/* Media query for screens up to 480px (mobile devices) */
@media (max-width: 480px) {
  .yt-Membership {
    padding: 10px;
  }

  .yt-name h3 {
    font-size: 1.5em;
  }

  .yt-name p, .prepaid-plan p, .subscription-plan p, .policy p {
    font-size: 0.9em;
  }

  .free-monthly-left p {
    margin: 5px 0;
  }

  .free-monthly-right button {
    width: 100%;
  }
}

